<footer>
    <div class="internal-footer-content global-container sb-flexbox">
        <div class="footer-content-section">
            <span><script>let d=new Date();document.write(d.getFullYear());</script> &copy; emiko.tv</span> &middot; <a href="mailto:harvey@emiko.tv">Harvey C.</a> &middot; <span class="inline-items">
                <a href="/" class="footer-socmed-link"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://discord.gg/G7j6P985KH" class="footer-socmed-link"><i class="fa-brands fa-discord"></i></a>
                <a href="mailto:contact@emiko.tv" class="footer-socmed-link"><i class="fa-solid fa-envelope"></i></a>
            </span>
        </div><div class="footer-content-section"><a href="/">Terms & Conditions</a> &middot; <a href="/">Privacy Policy</a> &middot; <a href="/about">About</a></div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/c2f479917e.js" defer></script>
<script src="/js/shared.js" type="module" defer></script>