<header>
    <div class="internal-header-content global-container sb-flexbox no-select">
        <a class="header-branding inline-items" href="/"><img src="/assets/branding/etv-logo.png" alt="emiko.tv" draggable="false" /></a>
        <div class="header-options inline-items">
            <a href="/login" class="header-option" id="header_login_btn"><i class="fa-solid fa-right-to-bracket"></i></a><a href="/register" class="header-option" id="header_register_btn"><i class="fa-solid fa-user-plus"></i></a>
        </div>
    </div>
</header>